
grader/.classpath

grader/.project

grader/.settings/

grader/target/classes/
/.metadata/

auto-grader/.classpath

auto-grader/.project

auto-grader/.settings/org.eclipse.jdt.core.prefs

auto-grader/.settings/org.eclipse.m2e.core.prefs

auto-grader/reports/

*.class

auto-grader/src/main/java/backup/


auto-grader/cse203-253-student-list.xlsx

simultaneous-grader/.classpath
simultaneous-grader/reports/
simultaneous-grader/final-253-submission - GRADED/
simultaneous-grader/final-253-submission/
grader-with-design-patterns/.classpath
grader-with-design-patterns/.gitignore
grader-with-design-patterns/.project
grader-with-design-patterns/pom.xml
grader-with-design-patterns/.settings/org.eclipse.jdt.core.prefs
grader-with-design-patterns/.settings/org.eclipse.m2e.core.prefs
